{% assign community_projects = site.data.community_projects %} {% if
community_projects %}
<section class="section community-projects-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ community_projects.title }}
  </h2>

  {% if community_projects.intro %}
  <div class="intro">
    <p>{{ projects.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %} {% for project in community_projects.assignments %}
  <div class="item">
    <div class="project-title">
      <div>
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %} {{ project.title }} {% endif %}
      </div>
      <div class="time">{{ project.time }}</div>

      {% if project.award %}
      <div>
        <span class="badge badge-success">{{ project.award }}</span>
      </div>
      {% endif %}
    </div>

    <div
      class="project-content"
      style="display: flex; justify-content: space-between; gap: 10px"
    >
      <div class="project-details" style="flex: 1">
        {% if project.tagline %}
        <div class="project-tagline">{{ project.tagline | markdownify }}</div>
        {% endif %} {% if project.skills %}
        <div class="project-skills">{{ project.skills | join: ', ' }}</div>
        {% endif %}
      </div>
      <div class="project-image" style="flex: 1; text-align: right">
        {% if project.image %} {% if project.link %}
        <a href="{{ project.link }}" target="_blank">
          <img
            src="{{ project.image }}"
            alt="{{ project.title }}"
            style="max-width: 100%; height: auto"
          />
        </a>
        {% else %}
        <img
          src="{{ project.image }}"
          alt="{{ project.title }}"
          style="max-width: 100%; height: auto"
        />
        {% endif %} {% endif %}
      </div>
    </div>
    <!-- {% if project.tagline %}
    <div class="project-tagline">{{ project.tagline | markdownify }}</div>
    {% endif %} {% if project.skills %}
    <div class="project-skills">{{ project.skills | join: ', ' }}</div>
    {% endif %} -->
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
