{% assign skills = site.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    <ul style="display: flex; flex-wrap: wrap; list-style-type: none; padding: 0;">
      {% for skill in skills.toolset %}
      <h3><li style="margin: 10px;" class="label label-default">{{ skill.name }}</li></h3>
      <!--//item-->
      {% endfor %}
    </ul>
  </div>
</section>
<!--//skills-section-->
{% endif %}
